<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Demo eleventy-plugin-mathjax</title>
  </head>
  <body>
    <ol>
      <li>
        <a href="/test-liquid">Test MathJax page based on a Liquid template</a>
      </li>
      <li>
        <a href="/test-markdown">Test MathJax page based on a Markdown template</a>
      </li>
      <li>
        <a href="/test-nunjucks">Test MathJax page based on a Nunjucks template</a>
      </li>
    </ol>
  </body>
</html>
