<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Test Liquid</title>
  </head>
  <body>
    <h2>Block math</h2>
    <p>$$ x=\frac{-b\pm\sqrt{b^2-4ac}}{2a} $$</p>
    <h2>Inline math</h2>
    <p>This is an inline math: \(x=\frac{-b\pm\sqrt{b^2-4ac}}{2a}\).</p>
  </body>
</html>
